[Unit]
Description=A deep-filter source daemon
Documentation=https://github.com/rikorose/DeepFilterNet
Wants=sound.target
Wants=network-online.target

[Service]
ExecStart=pipewire -c filter-chain.conf
Restart=always
RestartSec=12
Environment="RUST_LOG=DEBUG"
