* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
}

window#waybar.hidded {
    opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background: #eb4d4b;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-firefox, #custom-mpv, #custom-spotify, #custom-spotifyd, #mpd, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 0 5px;
}

#clock {
    background: #64727D;
}

#battery {
    background: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background: #26A65B;
}

@keyframes blink {
    to {
        background: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: #2ecc71;
    color: #000000;
}

#memory {
    background: #9b59b6;
}

#backlight {
    background: #90b1b1;
}

#network {
    background: #2980b9;
}

#network.disconnected {
    background: #f53c3c;
}

#network.ethernet.disconnected {
    opacity: 0;
    padding: 0 0px;
    margin: 0 0px;
}

#pulseaudio {
    background: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#custom-spotifyd {
    background: #66cc99;
    color: #2a5c45;
}
.custom-spotifyd {
    background: #66cc99;
}
#custom-spotifyd.Paused {
    background: #6d6d6d;
}
#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
}
.custom-spotify {
    background: #66cc99;
}
#custom-spotify.Paused {
    background: #6d6d6d;
}

#custom-mpv {
    background: #420143;
}
#custom-mpv.Paused {
    background: #6d6d6d;
}
.custom-mpv {
    background: #420143;
}

#custom-firefox {
    background: #ff7c16;
}
#custom-firefox.Paused {
    background: #6d6d6d;
}
.custom-firefox {
    background: #ff7c16;
}

#temperature {
    background: #f0932b;
}

#temperature.critical {
    background: #eb4d4b;
}

#tray {
    background: #2980b9;
}

#idle_inhibitor {
    background: #2d3436;
}

#idle_inhibitor.activated {
    background: #ecf0f1;
    color: #2d3436;
}
